*{
    margin: 0;
    width: 100%;
}
.top-cover{
    background-color: #B177DA;
    width: 100%;
    display: flex;
    justify-content: center;
}
.top-cover img{
    width: 87%;
    height: 45px;
    cursor: pointer;
}
.bottom{
    width: 100%;
    background-color: #F1F1F2;
    padding-bottom: 5px;
}
.inner-bottom{
    width: 87%;
    margin: auto;
    height: 25px;
    padding-top: 5px;
}
.product-type{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-left: 300px;
}
.inline{
    display: inline;
}
.j-logo{
    width: 12px;
    height: 12px;
}
.soj{
    font-size: 14px;
    color: #F68B1E;
}
.soj:hover{
    text-decoration: underline;
    cursor: pointer;
}
.pt-span{
    margin-left: 10px;
    cursor: pointer;
    color: #7171728a;
}
.j-group{
    font-weight: 600;
    font-size: 13px;
}
.j-blue{
    color: rgb(46, 46, 238);
}
.j-orange:hover{
    color: #F68B1E;
}
.j-gold:hover{
    color: rgba(121, 104, 20, 0.623);
}
.reveal{
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
}
.relative{
    position: relative;
}
.divider{
    width: 87%;
    margin: auto;
}
.j-star{
    width: 20px;
    height: 20px;
}
.item-flex{
    display: flex;
}
.inp{
    width: 500px;
    height: 35px;
    border-radius: 3px;
    border: grey 1px solid;
    font-size: 16px;
    padding-left: 40px;
    margin-left: 30px;
}
.search-btn{
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #F68B1E;
    margin-left: 10px;
    box-shadow: 5px 5px;
    color: white;
    font-weight: 700;
}
.jumia{
    margin-right: 20px;
    margin-top: 12px;
    width: 250px;
}
.nav-bar{
    width: 600px;
}
.nav-item{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background: none;
}
.focus:focus-within{
    background-color:rgb(197, 193, 193);
    border-radius: 5px;
}
.nav-item:hover{
    color: #F68B1E;
}
.m-content{
    background-color: #F1F1F2;
}
.main-content{
    background-color: #F1F1F2;
    height: 100%;
    width: 87%;
    margin: auto;
    margin-top: 80px;
}
.main-nav{
    height: 350px;
    width: 100%;
    padding-top: 20px;
}
.home-link{
    height: 30px;
    display: flex;
    align-items: center;
}
.nav-a{
    display: flex;
    width: 60px;
    font-size: 12px;
    align-items: center;
    text-decoration: none;
    color: black;
}
.gt{
    font-size: 7px;
    margin-top: 2px;
    text-align: center;
}
#view{
    width: 90px;
    height: 15px;
    color: grey;
    font-size: 10px;
    text-decoration: none;
}
.ads{
    width: 100%;
    height: 275px;
}
.advert{
    width: 100%;
    height: 275px;
}
.advert-img{
    width: 80%;
    margin-left: 100px;
}
.btn{
    width: 100px;
    height: 50px;
    background-color: grey;
    border-radius: 3px; 
}
#mainDiv{
    width: 100%;
    height: fit-content;
    padding: 8px 0;
    background-color: white;
    color: #313133;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
}
#stock{
    width: 100%;
    height: 280px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}
.perStock{
    width: 80%;
    height: 265px;
    background-color: white;
    cursor: pointer;
}
.perStock:hover{
    transform: scale(1.01);
    border-radius: 3px;
    box-shadow: rgb(209, 207, 207) 1px 2px;
}
.stockImg{
    width: 100%;
    height: 180px;
    margin: 0px;
}
.desc{
    font-size: 14px;
    margin: 0px;
}
.s-price{
    font-size: 15px;
    font-weight: 600;
    margin: 0px;
}
.s-through{
    font-size: 13px;
    color: grey;
    text-decoration: line-through;
}